<!DOCTYPE html>
<html>
<head>
  <title>BlueBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="header">
  <%= image_tag("header.png") %>
</div>
<div id="main_menu">
  </div>
<div id="main">
<%= yield %>
</div>
</body>
</html>
